body{
    background-color: black;
}
h1{
    color:white;
}
#p1{
    color:white;
}
#p2{
    color:antiquewhite;
}
#p3{
    color:aqua;
}
#p4{
    color:purple;
}
.odd{
    color:red;
}
.even{
    color:blue;
}
